<h1>ジャンル編集</h1>
  <%= form_with model: @genre,url: admin_genres_path, local: true do |f| %>
      <%= f.label :"ジャンル名" %>
      <%= f.text_field :name , id: "name"%>
      <%= f.submit "変更を保存" %>
  <% end %>