<li class="nav-item">
  <%= link_to "マイページ", "/naganocake/public/404.html", class: 'nav-link text-dark' %>
</li>
<li class="nav-item">
  <%= link_to "商品一覧", "/naganocake/public/404.html", class: 'nav-link text-dark' %>
</li>
<li class="nav-item">
  <%= link_to "カート", "/naganocake/public/404.html", class: 'nav-link text-dark' %>
</li>
<li class="nav-item">
  <%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: 'nav-link text-dark' %>
</li>

